.footer ul.socials {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer ul.socials li {
    display: inline-block;
    margin-right: 6px;
}

.footer ul.socials li a {
    color: #e7e0e0;
    font-size: 19px;
}

.footer ul.categories {
    padding: 10px 0;
    list-style: none;
    margin: 0;
}

.footer ul.categories li {
    display: inline-block;
    margin: 3px 0;
}

.footer ul.categories li a {
    color: #646464;
    text-decoration: none;
    text-transform: capitalize;
    min-width: 100px;
    display: block;
    background: #ededee;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    border-radius: 4px;
    font-family: sans-serif;
}

.footer ul.account {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer ul.account li {
    display: block;
    margin: 5px 0;
}

.footer ul.account li a {
    color: #e7e0e0;
    text-decoration: none;
    font-size: inherit;
}
