.header {
    background: #1f2630;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.header .logo {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #e7e0e0;
}

.msf {
    margin: 0;
    margin-top: 10px;
}

.msf .form-section {
    float: left;
    position: relative;
    /* width: 100%; */
}

.msf .control-select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
}

.msf .c-selector {
    font-family: sans-serif;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
    color: #646464;
    background: #ededed;
    line-height: 38px;
    padding: 0 8px;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #ccc;
}

.msf .section-mid {
    width: 50%;
}
.msf .control-text {
    border-radius: 0;
    width: 100%;
}

.msf .control-submit {
    border: none;
    background: orange;
    color: white;
    border-radius: 0 3px 3px 0;
}

.header-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-nav > li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.header-nav > li > a {
    color: #e7e0e0;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-nav > li > a.categories-toggle {
    border: 1px solid #e7e0e0;
    padding: 7px 5px;
    border-radius: 3px;
    color: #e7e0e0;
    text-transform: uppercase;
    font-weight: 600;
}

.header-nav .categories-toggle i {
    color: #e7e0e0;
    font-size: 13px;
}

.header-nav.multi-line-header-nav {
    position: absolute;
    top: -22px;
}

.header-nav-line {
    display: block;
}

.header-nav-line.header-nav-line-1 {
    font-size: 12px;
    margin-bottom: 3px;
}

.header-nav > li > a.header-nav-bold {
    color: #e7e0e0;
    font-weight: 600;
}

.header-shop {
    position: relative;
    display: block;
    /* margin-top: 10px; */
}

.header-shop img {
    margin-top: 20px;
    width: 55px;
}

.header-shop span.items-count {
    margin-top: 20px;

    position: absolute;
    color: orange;
}
.header-mid {
    margin-top: 5px;
}
